.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-content: center;
    justify-content: space-between;
}

.title {
    color: #becfda;
    text-align: center;
    font-size: 2em;
    margin-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title:first-child {
    margin-bottom: 10px;
}

.sect {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-right: 15px;
    padding: 10px;
    background-color: #ffd3c6;
}

.sect:last-child {
    margin-right: 0;
}

.sect > div:last-child {
    height: 4em;
    width: 100%;
}

.text {
    padding: 10px;
}

#pink {
    background-color: #eeaeef;
    
}

#blue {
    background-color: #4b9bd1;
}

#green {
    background-color: #67c45a;
}