* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    font-size: 20px;
    margin: 10px;
}

#txt1 {
    text-decoration-style: wavy;
    text-decoration-line: underline;
    text-decoration-color:blue;
}

#txt2 {
    text-decoration-style: dotted;
    text-decoration-line: underline;
    text-decoration-color:orange;
}

#txt3 {
    text-decoration-style: dashed;
    text-decoration-line: underline;
    text-decoration-color: green;
}

#txt4 {
    text-decoration-style: double;
    text-decoration-line: underline;
    text-decoration-color:red;
}