main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

div {
    width: 350px;
    height: 600px;
    background-color: blue;
    color: white;
}