* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 10px 5px;
}

div {
    width: 150px;
    height: 150px;
    border-width: 1px;
    border-style: solid;
    border-color: #000;
    margin-bottom: 15px;
}

#bl1 {
    cursor: pointer;
}

#bl2 {
    cursor: progress;
}

#bl3 {
    cursor: wait;
}

#bl4 {
    cursor: url(../cursors/images.jpeg) 1 1 , default;
}

