* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    text-align: left;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: #0b56ea;
}

a:hover {
    text-decoration: underline;
}

span {
    color: #333; 
}

li:after {
    margin: 0 10px;
    content: ">";
    color: #ccc;
    text-decoration: none;
}

li:last-child::after {
    content: none;
}