* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    text-align: left;
}

li {
    /*display: inline-block;*/
    display: none;
    height: 50px;
    margin-right: 10px;
    text-align: center;
    background-color: aquamarine;
}


li:last-child {
    margin-right: 0;
}

li:first-child {
    display: inline-block;
}


a:visited::after {
    content: "1111";
    background-color: bisque;
}

