div {
    display: inline-block;
    margin: 5px;
}


#ln1 {
    width: 25vw;
    height: 25vw;
    background: linear-gradient(to top, rgb(196, 207, 154), rgb(86, 181, 184));
}

#ln2 {
    width: 25vw;
    height: 25vw;
    background: linear-gradient(to left, rgb(196, 207, 154), rgb(86, 181, 184));
}

#ln3 {
    width: 25vw;
    height: 25vw;
    background: linear-gradient(to right, rgb(196, 207, 154), rgb(86, 181, 184));
}

#ln4 {
    width: 38vw;
    height: 25vw;
    background: linear-gradient(to top, red 36%, #fff 36%, #fff 64%, red 64%) ;
}

#ln5 {
    width: 38vw;
    height: 25vw;
    background: linear-gradient(90deg,#ff0000 5%, #fbff00 33%, #ffffff 80%, #ff0000 102%);
}
